.hiddenAtFirst.hiddenClip{
  opacity: 1;
  filter: none;
  transform: none;
  clip-path: polygon(0 0, 1px 0, 1px 100%, 0 100%);
  transition: all 1s ease-in-out;
}

.hiddenAtFirst.hiddenClip.show{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

input[type="range"] {
  height: 4px;
}

input[type=range]::-webkit-slider-thumb {
  transform: scaleX(0.5) scaleY(1.3);
}


input[type=range]::-moz-range-thumb {
  transform: scaleX(0.5) scaleY(1.3);
}


input[type=range]::-ms-thumb {
  transform: scaleX(0.5) scaleY(1.3);
}
