---
import NavItem from "./NavItem.astro";
import { NAV_ITEMS } from "./NavItems";
---

<aside>
  <div
    class="sm:sticky sm:top-20 md:w-[180px] flex flex-wrap justify-end md:justify-start mb-10"
  >
    <ul
      class="flex flex-row flex-wrap md:space-y-5 md:flex-col font-bold text-gray-500"
    >
      {NAV_ITEMS.map((item) => <NavItem path={item.path} title={item.title} />)}
    </ul>
  </div>
</aside>
