---
import AboutMe from 'components/AboutMe.astro';
import Introduction from 'components/Introduction.astro';
import Section from 'components/Section.astro';
import Layout from 'layouts/Layout.astro';

import 'styles/main.css'

const sections = {
	'aboutMe': "About Me"
} as const
---

<Layout title="Vincent Fischer">
	<main>
		<Introduction/>
		<Section title={sections.aboutMe}>
			<AboutMe/>
		</Section>
	</main>
</Layout>
