---
import Introduction from 'components/Introduction.astro';
import Layout from 'layouts/Layout.astro';

---

<Layout title="Vincent Fischer - Tech Lead in Paris">
	<main>
		<Introduction/>
	</main>
</Layout>
