---
import Introduction from 'components/Introduction.astro';
import ScrollingSkills from 'components/skills/ScrollingSkills.astro';
import Layout from 'layouts/Layout.astro';

import 'styles/main.css'

---

<Layout title="Vincent Fischer">
	<main>
		<Introduction/>
		<ScrollingSkills/>
	</main>
</Layout>
