---
import Introduction from 'components/Introduction.astro';
import { Projects } from 'components/projects/Projects';
import ScrollingSkills from 'components/skills/ScrollingSkills.astro';
import Section from 'components/Section.astro';
import Layout from 'layouts/Layout.astro';

import 'styles/main.css'

---

<Layout title="Vincent Fischer">
	<main>
		<Introduction/>
		<ScrollingSkills/>

		<Section title="Work experience" id="work">
			<Projects/>
		</Section>
	</main>
</Layout>
