---
import Section from 'components/Section.astro';
import { Skills } from 'components/skills/SkillsSection';
import Layout from 'layouts/Layout.astro';

---

<Layout title="Vincent Fischer">
	<main>
		<Section title="Skills" id="skills">
			<Skills client:load/>
		</Section>
	</main>
</Layout>
