---
import Section from 'components/Section.astro';
import Layout from 'layouts/Layout.astro';

---

<Layout title="My Values">
	<Section title="My Values" id="values">
		<div class="mb-6">
			<h2>
				Kindness
			</h2>
			<p>
				Kindness is central to my approach and I believe that by fostering a supportive
				environment, we enable open communication and effective problem-solving, 
				ensuring successful collaboration on projects together.
			</p>
		</div>
		<div class="mb-6">
			<h2>
				Pragmatism
			</h2>
			<p>
				Practicality and goal-oriented thinking are essential 
				to my approach. I prioritize selecting solutions 
				based on the desired outcomes for clients, 
				companies, projects, or teams. My focus is 
				on efficiently utilizing time and resources, 
				ensuring neither are wasted on matters 
				that don't align with the right objectives.
			</p>
		</div>
		<div class="mb-6">
			<h2>
				Transparency
			</h2>
			<p>
				Transparency is integral to Agile principles 
				and greatly contributes to the way I work. By 
				maintaining open communication and sharing information 
				honestly, trust is established, 
				enhancing communication among clients, stakeholders, 
				and teams. This ultimately leads to better 
				decision-making and more effective outcomes.
			</p>
		</div>
	</Section>
</Layout>
