---
import Section from 'components/Section.astro';
import Layout from 'layouts/Layout.astro';

---

<Layout title="Vincent's values">
	<Section title="My Guiding Values" id="values">
		<p class="mb-9">
			By integrating these values into my work and my team, 
			I am able to not only deliver improved results for clients and projects, 
			but also create a work environment that is efficient, sustainable, 
			and safe for all participants.
		</p>
		<div class="mb-6">
			<h2 class="text-2xl font-medium font-serif mb-2">
				To be value driven
			</h2>
			<p>
				Embracing a value-driven approach ensures that every action 
				and decision is guided by delivering the maximum benefit 
				to clients, projects, and the team. This core value fosters 
				efficiency, effectiveness, and purposeful innovation, 
				ultimately leading to sustainable success and growth.
			</p>
		</div>
		<div class="mb-6">
			<h2 class="text-2xl font-medium font-serif mb-2">
				To be kind and direct
			</h2>
			<p>
				By being kind and direct
				we foster a supportive environment that enables open, 
				honest communication and effective collaboration. 
				This core value strengthens relationships, ensuring 
				successfull collaboration on projects and driving 
				meaningfull progress together.
			</p>
		</div>
		<div class="mb-6">
			<h2 class="text-2xl font-medium font-serif mb-2">
				To be owner of our mission
			</h2>
			<p>
				It conveys understanding objectives, 
				aligning work with the mission, 
				and fostering ownership within the team. 
				This mindset promotes accountability as a team, proactivity, 
				and a commitment to excellence, empowering the team 
				to overcome challenges and deliver high-quality results, 
				ultimately contributing to long-term growth and success.
				I believe that a team that handles by itself its own 
				CI/CD, monitoring and error reporting is a happier team 
				that is more able to succed in its mission.

			</p>
		</div>
		<div class="mb-6">
			<h2 class="text-2xl font-medium font-serif mb-2">
				To keep things lean and simple
			</h2>
			<p>
				I hate over-engineering because it serves only 
				the ego of the enginers, and hurts everyone else.
				Keeping things lean and simple enables faster 
				development, easier maintenance and growth, 
				and developer-friendly solutions.
				Which means a shorter Time To Market, 
				more time to focus on the things that 
				really matter, and happier coworkers.
				More added value and fewer risks.
			</p>
		</div>
	</Section>
</Layout>
