---
import Section from 'components/Section.astro';
import Layout from 'layouts/Layout.astro';

---

<Layout title="Vincent's values">
	<Section title="My Guiding Values" id="values">
		<p class="mb-9">
			By integrating these values into my work, 
			I am able to not only deliver improved results for clients and projects, 
			but also create a work environment that is efficient, sustainable, 
			and safe for all participants.
		</p>
		<div class="mb-6">
			<h2 class="text-2xl font-medium font-serif mb-2">
				To be value driven
			</h2>
			<p>
				Embracing a value-driven approach ensures that every action 
				and decision is guided by delivering the maximum benefit 
				to clients, projects, and the team. This core value fosters 
				efficiency, effectiveness, and purposeful innovation, 
				ultimately leading to sustainable success and growth.
			</p>
		</div>
		<div class="mb-6">
			<h2 class="text-2xl font-medium font-serif mb-2">
				To be kind and direct
			</h2>
			<p>
				By being kind and direct
				we foster a supportive environment that enables open, 
				honest communication and effective collaboration. 
				This core value strengthens relationships, ensuring 
				successfull collaboration on projects and driving 
				meaningfull progress together.
			</p>
		</div>
		<div class="mb-6">
			<h2 class="text-2xl font-medium font-serif mb-2">
				To be customer centric
			</h2>
			<p>
				This value guides the development of the best solutions, 
				ensuring our innovations consistently exceed customer 
				expectations and lead to success where it truly matters.
			</p>
		</div>
		<div class="mb-6">
			<h2 class="text-2xl font-medium font-serif mb-2">
				To be a strategic risk-taker
			</h2>
			<p>
				Adopting a strategic risk-taker mindset encourages 
				calculated risks and informed decisions, leading 
				to innovation and growth. This core value enables 
				the identification of opportunities, guiding 
				the pursuit of success in areas that matter most 
				while mitigating potential setbacks.
			</p>
		</div>
	</Section>
</Layout>
