---
import { Projects } from 'components/projects/Projects';
import Section from 'components/Section.astro';
import Layout from 'layouts/Layout.astro';

import 'styles/main.css'

---

<Layout title="Vincent Fischer">
	<main>
		<Section title="Skills" id="skills">
			<Projects />
		</Section>
	</main>
</Layout>
