---
import { Projects } from 'components/projects/Projects';
import Section from 'components/Section.astro';
import Layout from 'layouts/Layout.astro';

import 'styles/main.css'

---

<Layout title="Vincent Fischer">
	<main>
		<Section title="Work experiences" id="work">
			{/* does not build if client:load */}
			<Projects client:only/>
		</Section>
	</main>
</Layout>
