---
const skills=[
  {name:'JavaScript'},
  {name:'Typescript'},
  {name:'React'},
  {name:'Node'},
  {name:'NestJS'},
  {name:'MongoDB'},
  {name:'SQL'},
  {name:'AWS'},
  {name:'Microservices'},
  {name:'Serverless'},
  {name:'Serverless framework'},
  {name:'Terraform'},
  {name:'HTML'},
  {name:'CSS'},
]
---

<div class="section-card">
  <div class="grid grid-cols-6 lg:grid-cols-5 gap-2 md:gap-8">
    <div class="col-span-6 md:col-span-3">
      <p class="text-2xl mb-4">I LOVE my job!</p>
      <p>
        My job is to <b>deliver great web apps or APIs</b>,
        <br />
        and sometimes I have to solve fun puzzles like:
        <br />
        “How do we spend more times working on features, and less times on resolving
        bugs or writing tests?”.
        <br />
        And “How do I reduce the response time without paying too much in infrastructure?”.
        <br />
        It’s so much fun to work as a team to figure out these issues and find solutions
        that work best for the project and the team, especially with the continuously
        moving ecosystem that is the web.
      </p>
    </div>
    <div class="divider md:hidden col-span-6"></div> 
    <div class="col-span-6 md:col-span-3 lg:col-span-2 md:text-center">
      <h1>8 years of experience coding webapps</h1>
      <div class="flex flex-wrap gap-2 mt-2">
        {skills.map(({name})=>
          <span class="badge badge-lg text-xl p-4 my-1">{name}</span>
        )}
      </div>
    </div>
  </div>
</div>
