<div class="navbar bg-base-100 relative z-50">
  <div class="flex-1" />
  <div class="flex-none">
    <ul class="menu menu-horizontal p-0 px-2">
      <li >
        <a 
        href="/"
        class="link hover:bg-inherit hover:text-primary">
          Home
        </a>
      </li>
      <li >
        <a 
        href="/skills"
        class="link hover:bg-inherit hover:text-primary">
          Skills
        </a>
      </li>
      <li >
        <a 
        href="/work"
        class="link hover:bg-inherit hover:text-primary">
          Work Experience
        </a>
      </li>
      <li>
        <a
          class="link hover:bg-inherit hover:opacity-60 ml-4 px-1"
          aria-label="go to github profil"
          href="https://github.com/fischervincent/"
        >
          <img width="32" height="32" alt="github" src="/assets/img/github32.png">
        </a>
        <a
          class="link hover:bg-inherit hover:text-primary hover:opacity-60 px-1"
          aria-label="go to linkedIn profil"
          href="https://www.linkedin.com/in/vincent-fischer/"
        >
          <img width="32" height="32" alt="linkedIn" src="/assets/img/linkedIn34.png">
        </a>
      </li>
    </ul>
  </div>
</div>
