---
---

<div class="mt-16">
  <div class="w-fit flex flex-col">
    <div class="text-4xl mb-2">
      <div class="relative text-right mh-12">
        <span class="absolute left-0 top-0"><b class="text-primary text-5xl">Hi</b>,</span>
        <span class="align-sub" >I'm <b>Vincent Fischer</b>,</span>
      </div>
      <div>a <b>fullstack JS developer</b></div>
    </div>

    <div class="mb-4">
      <p>I was frustrated to squash my resume into one page,</p>
      <p>so I created this webpage.</p>
    </div>

    <a class="link link-primary text-right">
      &gt; contact me
    </a>
  </div>

</div>