---
---

<div class="mt-16">
  <div class="text-4xl w-fit mb-2">
    <div class="relative text-right mh-12">
      <span class="absolute left-0 top-0"><b class="text-blue-700 text-5xl">Hi</b>,</span>
      <span class="align-sub" >I'm <b>Vincent Fischer</b>,</span>
    </div>
    <div class="">a <b>fullstack JS developer</b></div>
  </div>

  <div>
    <p>I was frustrated to squash my resume into one page,</p>
    <p>so I created this webpage.</p>
  </div>
</div>