  <div class="flex flex-col sm:flex-row">
    <div class="flex-1 mb-16 sm:mb-0">
      <p class="text-3xl font-bold font-serif">Vincent Fischer</p>
      <p class="text-2xl">Fullstack JS Developer</p>
      <p class="text-xl font-extralight mb-8">and occasionally TechLead</p>
      <p>
        I <strong>LOVE</strong> my job. I work with small and big companies to help them build their awesome products.
      </p>
      <p class="mt-6">
        I have <strong>8 years</strong> of experience as a <strong>web developer</strong> and <strong>tech lead</strong>: <br />
        <strong>developing</strong> and fixing complex features,<br />
        <strong>designing</strong> code that scales with the increasing complexity,<br />
        <strong>building</strong> CI/CD pipelines on a project with 20 developers,<br />
        <strong>architecting</strong> serverless infrastructure that scales,<br />
        <strong>optimizing</strong> request time and cost on an API called 8k times a minute,<br />
        <strong>improving</strong> the developer experience,<br />
        <strong>leading</strong> a team of 7 developers,<br />
        <strong>mentoring</strong> junior developers in best practives for software development,<br />
        <strong>recruting</strong> great developers,<br />
        and a lot more!
      </p>
      <p class="mt-6">
        I’m freelance and available, contact me!
      </p>
    </div>
    <div class="flex flex-col justify-between">
      <div></div>
      <div class="flex flex-col items-center">
        <span class="text-lg text-gray-600 hiddenAtFirst hiddenRight">I'm available!</span>
        <a class="btn btn-outline btn-primary hiddenAtFirst hiddenRight">Contact me</a>
      </div>
    </div>
  </div>

