---
---

<div class="mt-16">
  <div class="flex flex-col w-fit">
    <div class="text-4xl w-fit mb-2">
      <div class="relative text-right mh-12">
        <span class="absolute left-0 top-0"><b class="text-primary text-5xl">Hi</b>,</span>
        <span class="align-sub" >I'm <strong>Vincent Fischer</strong>,</span>
      </div>
      <div>a <strong>fullstack JS developer</strong></div>
      <div class="text-[2.20rem]">and occasionally tech lead</div>
    </div>

    <div class="mb-4">
      <p>I was frustrated to squash my resume into one page,</p>
      <p>so I created this webpage.</p>
    </div>

    <a class="link link-primary text-right">
      &gt; contact me
    </a>
  </div>

</div>