  <div class="flex my-12">
    <div class="flex-1">
      <h1 class="m-0">Vincent Fischer</h1>
      <p class="text-2xl">Fullstack JS Developer</p>
      <p class="text-2xl font-extralight mb-8">and occasionally TechLead</p>
      <p>
        I <strong>LOVE</strong> my job and I might be looking for new challenges.
      </p>
      <p>
        8 years of experience delivering complex webapps and APIs.
      </p>
    </div>
    <div class="flex flex-col justify-between">
      <div></div>
      <div class="flex flex-col items-center">
        <span>I'm available</span>
        <a class="btn btn-outline btn-primary">Contact me</a>
      </div>
    </div>
  </div>

