  <div>
    <div class="flex flex-col sm:flex-row justify-between mb-16 sm:mb-0 overflow-hidden">
      <div class="flex-1 mb-8">
        <p class="text-3xl font-bold font-serif">Vincent Fischer</p>
        <p class="text-2xl">Fullstack JS Developer</p>
        <p class="text-lg font-extralight">and occasionally TechLead</p>
        <span class="flex flex-row mt-2">
          <a
          class="link hover:bg-inherit hover:opacity-60 mr-2"
          aria-label="go to github profil"
          href="https://github.com/fischervincent/"
        >
          <img width="24" height="24" alt="github" src="/assets/img/github32.png">
        </a>
        <a
          class="link hover:bg-inherit hover:text-primary hover:opacity-60 px-1"
          aria-label="go to linkedIn profil"
          href="https://www.linkedin.com/in/vincent-fischer/"
        >
          <img width="24" height="24" alt="linkedIn" src="/assets/img/linkedIn34.png">
        </a>
      </span>
      </div>
        <div class="flex flex-col items-end sm:items-center">
        <span class="text-lg text-gray-600 hiddenAtFirst hiddenRight">I'm available!</span>
        <a 
          href="/contact"
          class="btn btn-outline btn-primary hiddenAtFirst hiddenRight"
        >
          Contact me
      </a>
      </div>
    </div>

    <div>
      <p>
        I <strong>LOVE</strong> my job. I work with small and big companies to help them build their awesome products.
      </p>
      <p class="mt-6 leading-7">
        I have <strong>8 years</strong> of experience as a <strong>web developer</strong> and <strong>tech lead</strong>: <br />
        developing and fixing complex features,<br />
        designing code that scales with the increasing complexity,<br />
        building CI/CD pipelines on a project with 20 developers,<br />
        architecting serverless infrastructure that scales,<br />
        optimizing request time and cost on an API called 8k times a minute,<br />
        improving the developer experience,<br />
        leading a team of 7 developers,<br />
        mentoring junior developers in best practives for software development,<br />
        recruting great developers,<br />
        and a lot more!
      </p>
      <p class="mt-6">
        I’m freelance and available, <a href="/contact" class="link">contact me!</a>
      </p>
    </div>
  </div>

