<aside>
    <div class="lg:sticky lg:top-20 md:w-[180px] flex flex-wrap justify-end md:justify-start mb-10">
      <ul class="menu menu-horizontal md:menu-vertical">
        <li >
          <a 
          href="/"
          class="hover:bg-inherit hover:text-primary">
            Home
          </a>
        </li>
        <li >
          <a 
          href="/skills"
          class="hover:bg-inherit hover:text-primary">
            Skills
          </a>
        </li>
        <li >
          <a 
          href="/work"
          class="hover:bg-inherit hover:text-primary">
            Work Experience
          </a>
        </li>
      </ul>  
    </div>
</aside>
