---
export interface Props {
  title: string;
  id: string;
}

const {title, id} = Astro.props;
---
<section class="my-16" id={id}>
  <h1 class="text-2xl font-extralight uppercase">{title}</h1>
  <div class="my-4">
    <slot />
  </div>
</section>

