---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  title: string;
  id: string;
}

const {title, id, class: className} = Astro.props;
---
<section class={className} id={id}>
  <div>
    <h1>{title}</h1>
    <div class="my-2">
      <slot />
    </div>
  </div>
</section>
