---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  title: string;
  id: string;
}

const {title, id, class: className} = Astro.props;
---
<section class={className} id={id}>
  <div>
    <h1 class="text-3xl font-bold font-serif">{title}</h1>
    <div class="my-8">
      <slot />
    </div>
  </div>
</section>
