---
import Navigation from 'components/navigation/Navigation.astro';

import 'styles/main.css'

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			const observer = new IntersectionObserver((entries) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
						entry.target.classList.add('show');
					}else{
						entry.target.classList.remove('show');
					}
				});
			});

			const hiddenElements = document.querySelectorAll('.hiddenAtFirst');
			hiddenElements.forEach((element) => {
				observer.observe(element);
			});
		</script>
	</head>
	<body class="overflow-y-scroll">
		<main class="antialiased max-w-3xl mb-20 flex flex-col md:flex-row mx-4 sm:mx-8 mt-8 md:mt-20 lg:mt-32 lg:mx-auto">
			<Navigation />
			<slot />
		</main>
	</body>
</html>
